.value-container {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--gap) * 1.5);
}

.value-heading {
  font-size: var(--heading);
}

.value-image-container {
  position: relative;
  width: 35%;
  height: 28rem;
}

.value-image {
  object-fit: cover;
}

.value-text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap);
}

.value-text-container a {
  font-size: var(--button);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .value-container {
    flex-direction: column;
    gap: calc(var(--gap) * 2.4);
  }

  .value-image-container {
    width: 75%;
    aspect-ratio: 1 / 1.2;
    margin-left: auto;
  }

  .value-text-container {
    width: min(32rem, 100%);
    gap: calc(var(--gap) * 2.4);
  }
}

@media screen and (max-width: 480px) {
  .value-image-container {
    width: 100%;
    aspect-ratio: 1 / 1.1;
    margin-left: unset;
  }
}
