.text-banner-container {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  font-weight: 500;
  font-size: var(--md-heading);
  line-height: 1.2;
}

.text-banner-container span {
  opacity: 0.1;
}

@media screen and (max-width: 768px) {
  .text-banner-container {
    width: 95%;
  }
}
