.hero-container {
  position: relative;
  padding-top: 15vh;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: calc(var(--gap) * 1.25);
}

.hero-heading-subtitle-container {
  gap: var(--gap);
  width: 55%;
}

.hero-heading {
  font-size: var(--md-heading);
  font-weight: 600;
}

.hero-subtitle {
  font-size: var(--l-text);
}

.cta-container {
  width: 100%;
  gap: var(--gap);
  margin-top: var(--gap);
}

.cta-container a {
  font-size: var(--sm-button);
  font-weight: 500;
}

.hero-image-container {
  position: relative;
  height: min(60vh, 32rem);
  width: 45%;
  align-self: flex-end;
}

.hero-image {
  object-fit: cover;
}

@media screen and (max-width: 850px) {
  .hero-container {
    padding-top: 13vh;
  }

  .hero-heading {
    font-size: clamp(2.5rem, 7vw, 3.5rem);
  }

  .hero-heading-subtitle-container {
    width: 65%;
  }

  .hero-subtitle {
    font-size: var(--md-text);
  }
}

@media screen and (max-width: 580px) {
  .hero-container {
    flex-direction: column;
    gap: calc(var(--gap) * 1.25);
  }

  .hero-heading-subtitle-container {
    gap: var(--gap);
    width: 100%;
  }

  .hero-heading {
    font-size: clamp(2.5rem, 6vw + 0.25rem, 3rem);
    text-align: center;
  }

  .hero-subtitle {
    display: none;
  }

  .cta-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap) calc(var(--gap) * 2);
    margin-top: 0;
  }

  .cta-container a {
    font-size: var(--text);
  }

  .hero-image-container {
    height: min(60vh, 32rem);
    width: 100%;
    align-self: flex-end;
  }
}
